/*
@Author Olanipekun Olufemi <iolufemi@ymail.com>
@copyright 2014
*/

body{
}
.error {
color: red;
}

input[disabled]#dateofbirth,input[readonly]#dateofbirth {
    background-color: #E0E4FF;
}

.bg{
    background: url("../images/bg.jpg") no-repeat top left;
    background-size: 100%;
    min-height: 729px;
    max-width: 960px;
    border: 1px #ccc solid;
    border-top: none;
    position: relative;
}

.register {
    margin-top: 200px;
    margin-left: 70px;
}

.register {
    margin-top: 195px;
    margin-left: 70px;
}
footer {
    position: absolute;
    bottom: 10px;
    color: #fff;
    left: 80px;
}

.logo {
    margin-top: 10px;
}

@media (max-width: 959px){
    
    .bg {
      min-height: 569px !important;  
    }
    
}

@media (max-width: 768px){
    
    .logo {
    max-width: 40%;
    height: 100%;
    }
    .register {
        margin: 10% auto 80px !important;
    }
    .bg {
        min-height: 0px !important;
    }
    footer {
        left: 15px;
    }
    
}