/*
@Author Olanipekun Olufemi <iolufemi@ymail.com>
@copyright 2014
*/

input {
    text-transform: uppercase;
}

textarea {
    text-transform: uppercase;
}


*{
    transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -ms-transition: 0.2s all ease-in-out;
    -webkit-transition: 0.2s all ease-in-out;
}

#rootwizard .nav-pills a[data-toggle] {
    padding: 10px 5px;
    font-size: 12px;
}

img:not(.logo){
    max-width: 100%;
    height: auto;
}

.applynow *,.calculator *,.post-42 * {
    transition:none;
    -o-transition:none;
    -ms-transition:none;
    -moz-transition:none;
    -webkit-transition:none;
}

.texti {
    font-size: 13px;
}

.modal {
display: none;
overflow: auto;
overflow-y: scroll;
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 999999999999;
}

.btn.apply {
}

.contact-form select {
    max-width: 300px;
}

.credit,.duration,.pay {
    margin-bottom: 19px;
}

.calculator .control-label {
    font-size: 10px;
    padding-top: 5px;
    font-weight: normal;
}

body{
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6,nav{
    font-family: 'Roboto Condensed', sans-serif;
}

.container{
    max-width:960px;
}

.error {
    color: red;
}

header{
    background:url('../images/hdbg.jpg') repeat-x left top;
    height: 95px;
    width: 100%;
    z-index: 99999999999999999;
    transition:none;
    -o-transition:none;
    -ms-transition:none;
    -moz-transition:none;
    -webkit-transition:none;
}

nav {
    margin-top: 57px;
    transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -ms-transition: 0.2s all ease-in-out;
    -webkit-transition: 0.2s all ease-in-out;
}
nav a {
    color: #07428e;
    font-weight: bold;
    transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -ms-transition: 0.2s all ease-in-out;
    -webkit-transition: 0.2s all ease-in-out;
}

nav a:hover {
background-color: #ecedef !important;
    transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -ms-transition: 0.2s all ease-in-out;
    -webkit-transition: 0.2s all ease-in-out;
}

.nav>li.active>a:hover, .nav>li.active>a:focus {
text-decoration: none;
background-color: #07428e !important;
}

.navbar-default {
background-color: transparent;
border-color: transparent;
border:none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
border:none;
}

.navbar-default .navbar-toggle {
    background:#f4942f !important;
}

.navbar-default .navbar-toggle:hover {
    background:#07428e !important;
}

.blue {
    color: #07428e;
}

#alert{
    display: none;
    position: fixed;
    top: 45%;
    left: 50%;
    margin-left: -150px;
    
    z-index: 9999;
}

.bluer {
    color: #ffffff;
    height: 40px;
    width: 80px;
    font-size: 14px !important;
    padding: 8px 8px !important;
    background-color:#07428e !important;
    border-radius: 8px !important;
}

.orange {
    color: #f4922c;
}
.welcome {
    font-size: 16px;
    margin-left: 18px;
}
h1.home {
    margin-top: 0;
}

#logo {
    margin-left: -20px;
}

.calculator{
    background: url('../images/calc_bg.png') no-repeat left top;
    min-height: 309px;
    background-size: 100%;
    font-size: 15px;
    padding: 28px 29px 55px 42px;
    font-family: 'Roboto Condensed', sans-serif;
}

.ui-slider {
    border: solid #07408c !important;
}
.ui-slider-handle.ui-state-default.ui-corner-all {
    background: #07408c;
    border: solid #fff 2px;
    width:12px;
    height:30px;
    top:-11px;
    cursor: pointer;
}
.ui-slider-range.ui-widget-header.ui-corner-all.ui-slider-range-min {
    background: #ecedef;
}

.slider {
    padding: 10px 0px;
}

.padit {
    padding-top: 5px;
}

.howitworks {
    text-align: center;
    margin-top: -20px;
}

.howitworks .row {
    padding: 40px 0px;
}

.howitworks h2 {
    font-size: 3em;
    max-width: 260px;
    margin: auto auto;
    background-color: #FFF;
    padding: 0px 10px;
    z-index: 999;
    display: block;
    position: relative;
}
.howitworks hr{
    display: block;
    max-width: 650px;
    margin: auto auto;
    
    margin-top: -23px;
    z-index: 1;
    position: relative;
}

.howitworks p{
    display: block;
    max-width: 650px;
    margin: auto auto;
}

.howitworks button,.howitworks a {
    margin: auto auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 220px;
    white-space: initial;
    cursor: default;
}

.howitworks .row .col-md-4 {
    padding: 0px 50px;
}

footer{
    background: #ECEDEF;
    border-top: #114791 8px solid;
    margin-top:20px
}

.social img {
    max-width: 30px;
}
footer .row {
    margin-top: 30px;
    margin-bottom: 12px;
}
footer .copyright {
    margin-bottom: 15px;
}

.subscribe h4 {
    padding-left: 185px;
    margin: 0px;
}

.affix {
background: url('../images/hdbg.jpg') repeat-x left top;
    transition: 2s all ease-in-out;
    -o-transition: 2s all ease-in-out;
    -moz-transition: 2s all ease-in-out;
    -ms-transition: 2s all ease-in-out;
    -webkit-transition: 2s all ease-in-out;
}

.page-header {
    margin-top: 0px;
}
.page-header h1 {
    margin-top: 0px;
}

@media (max-width: 768px){
.navbar-ex1-collapse ul {
    display: block;
    float: none !important;
}

ul.dropdown-menu {
position: static;
}
.navbar-ex1-collapse {
    width: 100%;
}
.navbar-ex1-collapse ul li {
    display: block;
    float: none;
    width: 100%;
}

.subscribe h4 {
padding-left: 0px !important;
margin: 0px;
}

footer {
background: #ECEDEF;
border-top: #114791 8px solid;
margin-top: 20px;
text-align: center;
}



}

@media (max-width: 991px){
    .calculator{
    background: none;
    background-color: #E5E8EB;
    padding: 20px 35px 20px 40px;
    border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border:#ccc solid 1px;
    box-shadow:0px 0px 10px #ccc;
    -o-box-shadow:0px 0px 10px #ccc;
    -ms-box-shadow:0px 0px 10px #ccc;
    -webkit-box-shadow:0px 0px 10px #ccc;
    -moz-box-shadow:0px 0px 10px #ccc;
    min-height: 0px;
}

.affix {
background: url('../images/hdbg.jpg') repeat-x left top;
position: static;
}

.howitworks {
text-align: center;
margin-top: 10px;
}

.subscribe h4 {
padding-left: 80px;
margin: 0px;
}

