body {
width:100%;
margin:0; padding:0; border:0;
margin-bottom:10px;
}
#in,#login {
    display:none;
    float: none;
    margin: 0 auto;
    text-align: center;
    opacity: 1;
}
#btnn{
	float: none;
    margin: 0 auto;
}

#notify{
	color: red;
}
#social{
	background-image: url('../images/bck2.jpg');
    padding-bottom: 150px !important;
}
#textt{
	color: blue;
}
div#in {
    background: rgba(155, 155, 214, 0.34);
    border-radius: 5px;
    border: 1px #fff solid;
    padding-bottom: 10px;
}
#in h2 {
    text-shadow: 1px 1px 0px #fff;
}
